body {
    margin: 0 auto;
    max-width: 960px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    text-align: justify;
}

header, footer, aside, section {
    display: block;
}

h1 {
    font-size: 24px;
    line-height: 40px;
    padding: 18px 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #E0E0E0;
    color: black;
}

/* Add a color to the active/current link */
.topnav a:active {
    background-color: #262042;
    color: #cadaea;
}

#repos-body {
    display: table;
}

aside {
    display: table-cell;
    width: 160px;
    background: #E0E0E0;
}

aside section {
    margin: 12px 10px 10px 12px;
    padding: 6px 6px;
    width: 50%
}

#product-docs {
    display: table-cell;
    padding-left: 12px;
    padding-right: 12px;
    width: 810px;
}

.cch-doc {
    display: table-cell;
    padding-left: 12px;
    padding-right: 12px;
    width: 810px;
}

footer {
    background: #E0E0E0;
    border-top: 2px solid #cccccc;
    padding: 6px;
    text-align: center;
    color: #ffffff;
}
